.wrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: none;
  border-radius: var(--borderRadiusBig);
  padding: 60px;
  margin-top: 70px;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}

.text p {
  max-width: 300px;
  color: var(--lightText);
}

.image {
  width: 500px;
  height: auto;
}