.Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    background-color: white;
    border-radius: var(--borderRadiusMedium);
    box-shadow: var(--boxShadowSoft);
    width:100%;
    justify-content: space-around;
 
}
.MenyPicture{
    padding: 10px;
}
.MenyTxt{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}
.MenyTxt>h3{
    margin:10px;
    margin-left: 0px;
}
.MenyTxt>p{
    margin:0px;
    margin-bottom: 20px;
}
.InfoOglas{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap:5px;
}
.acceptDecline{
    display: flex;
    flex-direction: column;
    padding: 1px;
    align-items: center;
    justify-content: space-around;
    gap:5px;
    

}
.ButtonParentDiv{
    width: 100%;
    gap:5px;
    
}