.AppHeaderWrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.AppHeader {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(var(--blur));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

.AppHeader nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 120px;
}

.ZurkaNaKlik {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.LoginButtonHeader {
  padding: 12px 30px;
  border: 1px solid var(--mediumGrey);
  border-radius: 100px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: 150ms all;
}

.LoginButtonHeader:hover {
  background-color: var(--lightGrey);
  transition: 150ms all;
}

.headerPoopup {
  position: relative;
  z-index: -100 !important;
  display: flex;
  top: -100%;
  visibility: hidden;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(var(--blur));
  border-bottom: 3px solid var(--mainColor);
  animation: appear 500ms ease-in-out 1s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    top: -100%;
    visibility: visible;
  }
  to {
    top: 0;
    visibility: visible;
  }
}

.headerMessage {
}

.profileButton {
  padding: 10px;
}
.AppFooterWrapper{
  position: relative;
  bottom:0;
  left:0;
}
.AppFooter {
  display: flex;
  flex-direction: row;
  background-color: #f8f9fa;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  justify-content: space-around;
 
}
.ZurNKlk {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 0px;
  padding-top: 10px;
}
.LogoSLikaDiv {
  display: flex;
  width: 150px;
  height: 90px;
}
.Opis {
  width: 450px;
  display: flex;
  text-align: left;
}
.RaditeSaNama {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  text-align: left;
}
.RaditeSaNama > h3 {
  padding-bottom: 5px;
}
.Korisnik {
  text-align: left;
  width: 90%;
  padding-top: 5px;
  cursor: pointer;
}

.Red {
  text-align: left;
}
.Red > p {
  font-size: medium;
}
.Tim{
  height: 100%;
  display: flex;
  flex-direction: column-rverse;
}
.Tim>p{
  color: #D45A6B;
}
.rsn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nekinovidiv{
  display: flex;
  flex-direction: row;
  gap:10px;
}
.Main{
  min-height: 500vh;
}