.AppHeader {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(var(--blur));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

.AppHeader nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 100px;
}

.ZurkaNaKlik {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.LoginButtonHeader {
  padding: 12px 30px;
  border: 1px solid var(--mediumGrey);
  border-radius: 100px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: 150ms all;
}

.LoginButtonHeader:hover {
  background-color: var(--lightGrey);
  transition: 150ms all;
}
