.SearchKartice {
  display: flex;
  width: 80%;
  margin-inline: 10%;
  padding: 30px;
  word-wrap: break-word;
  gap: 50px;
  flex-wrap: wrap;
}

.resultWrapper{
  width: 90%;
  margin: 50px auto;
}


.filtersTop {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.resultContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  margin: 0;
}

.pagination {
  width: 100%;
  display: flex;
  gap: 40px;
}

.pageNumberContainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
}

.pageNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid var(--lightText);
  cursor: pointer;
}

.selected {
  background-color: var(--mainColor);
  color: white;
  cursor: default;
}