.SearchKartice {
  display: flex;
  width: 80%;
  margin-inline: 10%;
  padding: 30px;
  word-wrap: break-word;
  gap: 50px;
  flex-wrap: wrap;
}

.filtersTop {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  width: fit-content;
}

.resultWrapper {
  max-width: 90%;
  margin: 50px auto;
}

.resultWrapperCenter {
  display: flex;
  justify-content: center;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0;
}
