.DivZaPretragu{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 60%;
    
    border-radius: 10px;
    padding: 0px;
    
  }
  .DugmeFilter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin:0px;
    width:100%;
    padding-bottom: 5px;
  }
  .JosFiltera{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap:6px;
    padding-left: 20px;
  }
  .JosFiltera>P{
    font-size: 15px;
    display: flex;
    
  }
  .JosFiltera>img{
    display: flex;
    padding: 10px;
  }
  .CenaVelikiDiv{
    display: flex;
    flex-direction: column;

  }
  .CenaOd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;

  }
  .CenaOd>input{
    height: 30px;
    border-radius: 20px;
    background-color: #d3d3d3;
    border:none;

  }